.container {
  margin: 50px auto;
  padding: 15px;
  width: 600px;
  height: 400px;
  background-color: #696969;
  border-radius: 20px;	
}

.output {
  width: 100%;
  padding-bottom: 15px;
}

.output__calc {
  width: 99%;
  height: 45px;
  border-radius: 5px;
  font-size: 20px;
  text-align: right;
  background-color: white;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

button {
  width: 100%;
  height: 50px;
  grid-row-gap: 10px;	
  border-radius: 5px;
  background-color: #D3D3D3;
  font-size: 20px;
}

.btn_C {
  grid-column-start: 1;
  grid-column-end: 3;
}

.btn_CE {
  grid-column-start: 3;
  grid-column-end: 5;
}

.btn_2x {
  grid-column-start: 1;
  grid-column-end: 3;
}

.btn_0 {
  grid-column-start: 1;
  grid-column-end: 3;
}