* {
	margin: 0;
	padding: 0;	
}
/* Первый блок - приветсвтие пользователя */

.first {
	padding-bottom: 170px;	
	/*background-color: #FAEBD7;*/	
	background: url(img/road.jpg) no-repeat;
	background-size: cover;
}

.header {
	display: flex;
	justify-content: space-between;	
	margin-bottom: 40px;
	padding-top: 30px;
}

.logo {
	margin-left: 40px;
	font: 400 56px/70px arial;
	color: #DC143C;
}

.menu {
	margin-top: 20px;
	margin-right: 50px;
	display: flex;
	align-items: center;
}

.menu__item {
	margin-right: 30px;
	margin-left: 15px;
	color: #000000;
	text-decoration: none;
}

.menu__item_active {
	padding: 5px 7px;
	background-color: #DC143C;
	color: #F8F8FF;
	border-radius: 8%;
}

.greeting {
	display: flex;
	justify-content: space-between;
}

.greeting__text {
	width: 50%;	
	padding: 10px 0 0 100px;
}

.greeting__text_title {
	font: bold 67px/82px arial;	
}

.greet_color {
	color: #DC143C;
}

.greeting__text_description {
	font: 400 22px/26px;	
	width: 55%;
	padding: 0 0 0 20px;
}

.greeting__authorization {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 35%;
	right: 23%;
	width: auto;
	height: auto;		
	background-color: #DC143C;
	border-radius: 2%;
}

.greeting__authorization_title {
	text-align: center;
	padding: 17px 0;
	color: #F8F8FF;
}

.greeting__authorization_window {	
	margin: 7px 5px;
	padding: 10px 10px;
	border: none;
	border-radius: 5%;
}

.greeting__authorization_consent {
	padding: 10px 5px;
}

.greeting__authorization_button {
	margin: 0 20px 10px 20px;
	width: 20em;
	height: 40px;
	border-radius: 5%;
	background-color: #000000;
	color: #F8F8FF;
	border: none;
}

/*Второй блок - сервисы*/

.services {
	margin-bottom: 65px;
}

.services__title {	
	margin-bottom: 40px;
	padding-left: 80px;
	font:  bold 42px/56px arial;
}

.service_color {
	color: #DC143C;
}

.services__blocks {
	display: flex;
	justify-content: space-around;
}

.servies__blocks_img {
	margin-left: 20px;
}

.services__heart_img {
	padding-top: 10px;
	background-repeat: no-repeat;
}	

.services__heart_text {
	margin-left: 20px;
	padding-top: 9px;
	width: 70%;
}

.services__tools_img {
	background-repeat: no-repeat;
}

.services__tools_text {
	margin-left: 20px;
	padding-top: 3px;
	width: 70%;
}

.services__idea_img {
	background-repeat: no-repeat;
}

.services__idea_text {
	margin-left: 25px;
	width: 60%;
}

.services__navigator_img {
	background-repeat: no-repeat;
}

.services__navigator_text {
	margin-left: 25px;
	padding-top: 4px;
	width: 55%;
}

/*Третий блок - история*/

.story {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	background-color: #DC143C;
}

.story__desription {	
	width: 60%;
	padding: 0 0 0 40px;
	color: #F8F8FF;
}

.story__button {
	margin-right: 14%;
	width: 140px;
	height: 55px;
	border-radius: 5%;
	background-color: #deb887;
	border: none;
}

/*Четвертый блок - прайс*/

.pricing {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #deb887;
}

.pricing__title {
	margin-bottom: 35px;
	padding-top: 35px;
	text-align: center;
	font:  bold 42px/56px arial;
}

.price__conteiner {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pricing__variant {	
	position: relative;
	margin-right: 20px;
	padding: 5px 50px;	
	text-align: center;
	background-color: #F8F8FF;
	border-radius: 1.5%;	
}

.pricing__stages {
	margin-top: 18px;
	margin-bottom: 7px;
}

.pricing__price {
	color: #DC143C;
	padding: 15px 0;
	font:  bold 42px/56px arial;
}

.pricing__button {
	margin-top: 15px;
	padding: 10px 25px;
	background-color: #deb887;
	border-radius: 5%;
	border: none;
}

.pricing__button_popular {
	margin-top: 15px;
	padding: 10px 25px;
	background-color: #DC143C;
	color: #F8F8FF;
	border-radius: 5%;
	border: none;
}

.pricing__variant_popular {	
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 80px solid #808080; 
	border-right: 80px solid transparent;
}

/*Пятый блок*/

.testimonial {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 120px;
}

.testimonial__block {
	width: 40%;
	margin-top: 90px;
	padding-left: 20px;
}

.testimonial__gallery {
	position: relative;
	margin-top: 90px;
	padding-right: 20px;
}

.testimonial__title_one {
	margin-bottom: 40px;
	padding-left: 50px;
	font:  bold 42px/56px arial;
}

.testimonial__title_two {
	margin-right: 50px;
	font:  bold 42px/56px arial;
	color: #DC143C;
}

.testimonial__feedback {
	margin-left: 70px;	
	padding-bottom: 20px;
	width: 50%;
}

.feedback__color {		
	background-color: #deb887;
}

.testimonial__signature {
	margin-left: 70px;	
	padding-bottom: 30px;
	color: #b22222;
}

.testimonial__link {
	position: absolute;
	bottom: 0;
	left: -35%;
	color: #DC143C;
}

/*image*/

.gallery_women {
	position: absolute;
	bottom: 15%;
	right: 80%;
	width: 230px;
	height: 160px;
}

.gallery_tea {
	position: absolute;
	bottom: 5%;
	right: 85%;
	width: 170px;
	height: 100px;
}

.gallery_sea {
	position: absolute;
	bottom: 0;
	right: 10%;
	width: 280px;
	height: 160px;
}

.gallery_bilberry {
	position: absolute;
	bottom: 22%;
	right: 30%;
	width: 230px;
	height: 160px;
}

.gallery_limon {
	position: absolute;
	bottom: 22%;
	right: 0;
	width: 170px;
	height: 120px;
}

/*Заключение*/

.conclusion {
	display: flex;
	justify-content: space-between;
	background-color: #000000;
	color: white;
}

.conclusion__signature {
	margin-top: 10px;
	padding: 40px 0 40px 50px;
}

.signature_color {
	color: #DC143C;
}

.conclusion__logo {
	padding: 30px 60px 20px 0;
	font: 400 52px/67px arial;
	color: #DC143C;
}