/*стилизация таблицы*/
table {
    width: 800px;    
    height: auto;
    border: 1px solid gray; 
    border-radius: 5px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    margin: auto;    
}

caption {
    height: auto;
    padding-bottom: 12px;
    font: bold 24px/42px Arial, Helvetica, sans-serif;    
}

td {
    text-align: center;  
    cursor: pointer;  
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;   
    height: 60px; 
}

.heading {
    font: bold 17px/22px Arial, Helvetica, sans-serif; 
}

/*стилизация взаимодействия со строками*/
.changeTable {
    position: absolute;
    width: 150px;
    right: 70px;
    top: 55%;
    display: grid;
    grid-gap: 15px;
}

input {
    height: 35px;    
    border-radius: 8px;
    border: 1px solid gray;    
    cursor: pointer;
    transition: 0.1s;
}

input:hover {
    box-shadow: 4px 3px 2px 2px #c5dde8;
}

/*стилизация фона всплывающего окна*/
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;      
    transition: 0.5s all;
}

.popup__bg.active { 
    opacity: 1; 
    pointer-events: all;     
    transition: 0.5s all;
}

/*стилизация всплывающего окна*/
.popup {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
    text-align: center;
    border-radius: 5px;
}

.popup.active {     
    transition: 0.5s all;
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
}  

label {
    font: bold 17px/22px Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
 
.popup__message {
    resize: none;
    width: 100%;
    height: 28px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px; 
    font: 20px/27px Arial, Helvetica, sans-serif;  
    text-align: center; 
    margin-top: 10px;
}

button {
    margin-top: 20px;
    cursor: pointer;     
}